pkgbase = morghulis-git
	pkgdesc = GTK4 Desktop Shell (Development Version)
	pkgver = v0.8.0.r45.g7b36fae
	pkgrel = 1
	url = https://github.com/ARKye03/morghulis
	arch = x86_64
	license = WTFPL
	makedepends = git
	makedepends = gobject-introspection
	makedepends = vala
	makedepends = meson
	makedepends = dart-sass
	makedepends = blueprint-compiler
	depends = gtk4
	depends = gtk4-layer-shell
	depends = glib2
	depends = libnm
	depends = libadwaita
	depends = libastal-io-git
	depends = libastal-4-git
	depends = libastal-mpris-git
	depends = libastal-notifd-git
	depends = libastal-network-git
	depends = libastal-wireplumber-git
	depends = libastal-tray-git
	depends = libastal-apps-git
	depends = libastal-bluetooth-git
	depends = libastal-battery-git
	depends = libastal-powerprofiles-git
	optdepends = libastal-hyprland-git: Hyprland support
	optdepends = libastal-river-git: River support
	optdepends = libgtop: GTop support
	provides = morghulis
	conflicts = morghulis
	source = morghulis-git::git+https://github.com/ARKye03/morghulis
	sha256sums = SKIP

pkgname = morghulis-git
