pkgbase = morghulis
	pkgdesc = GTK4 Desktop Shell
	pkgver = v0.7.0
	pkgrel = 1
	url = https://github.com/ARKye03/morghulis
	arch = x86_64
	license = WTFPL
	depends = gtk4
	depends = gtk4-layer-shell
	depends = glib2
	depends = libnm
	depends = libastal-meta
	depends = libadwaita
	source = morghulis-v0.7.0::https://github.com/ARKye03/morghulis/releases/download/v0.7.0/morghulis-v0.7.0.tar.xz
	sha256sums = ff36a0baf0d5314a93b693d005a122a2d4e12127714516e8e76c2ee212037f2a

pkgname = morghulis
