pkgbase = morghulis
	pkgdesc = GTK4 Desktop Shell
	pkgver = v0.9.0
	pkgrel = 1
	url = https://github.com/ARKye03/morghulis
	arch = x86_64
	license = WTFPL
	depends = gtk4
	depends = gtk4-layer-shell
	depends = glib2
	depends = libnm
	depends = libadwaita
	depends = libastal-io-git
	depends = libastal-4-git
	depends = libastal-mpris-git
	depends = libastal-notifd-git
	depends = libastal-network-git
	depends = libastal-wireplumber-git
	depends = libastal-tray-git
	depends = libastal-apps-git
	depends = libastal-bluetooth-git
	depends = libastal-battery-git
	depends = libastal-powerprofiles-git
	depends = libastal-hyprland-git
	depends = libastal-river-git
	source = morghulis-v0.9.0::https://github.com/ARKye03/morghulis/releases/download/v0.9.0/morghulis-v0.9.0.tar.xz
	sha256sums = 37db28bc150b16f2ce89a69f933fde4fbf741bbf85a4d0d189876699a37e0f93

pkgname = morghulis
