pkgbase = libastal-suite-git
	pkgdesc = One library to rule them all, don't use it unless you know what you are doing
	pkgver = r623.4c19d8d
	pkgrel = 1
	url = https://github.com/Aylur/astal
	arch = x86_64
	groups = libastal
	license = LGPL-2.1-only
	makedepends = git
	makedepends = gobject-introspection
	makedepends = meson
	makedepends = vala
	makedepends = wayland
	makedepends = wayland-protocols
	depends = glib2
	depends = glibc
	depends = gtk4
	depends = gtk4-layer-shell
	depends = gdk-pixbuf2
	depends = wayland
	depends = pam
	depends = json-glib
	depends = libcava
	depends = libnm
	depends = libwireplumber
	provides = astal-mpris
	provides = libastal-mpris
	provides = libastal-mpris.so=0-64
	provides = astal-bluetooth
	provides = libastal-bluetooth
	provides = libastal-bluetooth.so=0-64
	provides = astal-notifd
	provides = libastal-notifd
	provides = libastal-notifd.so=0-64
	provides = astal-auth
	provides = libastal-auth
	provides = libastal-auth.so=0-64
	provides = astal-power-profiles
	provides = libastal-power-profiles
	provides = libastal-power-profiles.so=0-64
	provides = astal-tray
	provides = libastal-tray
	provides = libastal-tray.so=0-64
	provides = libastal-4
	provides = libastal-4.so=4-64
	provides = astal-io
	provides = libastal-io
	provides = libastal-io.so=0-64
	provides = astal-hyprland
	provides = libastal-hyprland
	provides = libastal-hyprland.so=0-64
	provides = astal-greet
	provides = libastal-greet
	provides = libastal-greet.so=0-64
	provides = astal-wireplumber
	provides = libastal-wireplumber
	provides = libastal-wireplumber.so=0-64
	provides = astal-river
	provides = libastal-river
	provides = libastal-river.so=0-64
	provides = astal-network
	provides = libastal-network
	provides = libastal-network.so=0-64
	provides = libastal
	provides = libastal.so=3-64
	provides = astal-apps
	provides = libastal-apps
	provides = libastal-apps.so=0-64
	provides = astal-battery
	provides = libastal-battery
	provides = libastal-battery.so=0-64
	provides = astal-cava
	provides = libastal-cava
	provides = libastal-cava.so=0-64
	source = git+https://github.com/Aylur/astal.git
	sha256sums = SKIP

pkgname = libastal-suite-git
